

.header {
    clear: both;
    height: 70px;
    background: #ffffff;
    border-bottom: 3px solid #eaece5;
}

#name {
    height: 100%;
    width: 275px;
    position: relative;
    left: 155px;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

h2 {
    position: relative;
    clear: both;
    right: 0px;
    top: 50%;
    text-align: center;
}

.links {
    height: 100%;
    width: 400px;
    position: relative;
    left: 780px;
    bottom: 90px;
    float: left;
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

#about {
    display: inline-block;
    clear: both;
    position: relative;
    top: 50%;
    margin: 0px;
    width: 80px;
    text-align: center;
}

#portfolio {
    display: inline-block;
    position: relative;
    top: 50%;
    width: 100px;
    text-align: center;
    border-left: 0.5px solid #eaece5;
    border-right: 0.5px solid #eaece5;
}

#contact {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 50%;
    width: 80px;
    text-align: center;
}

.container {
    position: relative;
    top: 40px;
    left: 155px;
    width: 1250px;
    height: 500px;
    border: 3px solid #eaece5;
    background-color: #b2c2bf;
}

.containerheader {
    clear: both;
    /* position: relative; */
    bottom: 60%;
    left: 75%;
    /* height: 100px; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    color: #3b3a30;
    border-bottom: 3px solid #eaece5;
}

#image {
	float: left;
    width: 200px;
}

h2 {
	position: relative;
	clear: both;
	right: 372px;
	top: 50%;
}

#myinfo {
	margin: 30px 30px 30px 30px;	
}

#pic {
	position: relative;
	height: 220px;
	width: 200px;
	float: left;
	padding: 0px 25px 20px 0px;
}

.aboutme {
    position: relative;
    line-height: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #3b3a30;
}

footer {
	clear: both;
	height: 90px;
	background: #ffffff;
	border-bottom: 3px solid #eaece5;
	text-align: center;
	position: relative;
	top:80px;
	background-color: darkgray;
	border-top: 6px solid #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.container2{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 3px solid #eaece5;
    background-color: #b2c2bf;
}

.myForm input[type="text"], .myForm input[type="email"], .myForm input[type="message"], .myForm textarea {
    display: block;
    width: 95%;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
    margin: 0px 10px;
}

.myForm button {
    padding: 1em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 45%;
}

.container3 {
    position:relative;
    top: 0px;
    left:400px;
    width:50%;
    height:500px;
    border: 2px solid #ccc;
    background-color:#b2c2bf;
}

h4 {
    position: relative;
	clear: both;
	left: 0px;
	top: 50%;
}
label {
    font: lobster;
}